@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover {
  color: #f59e0b;
  transition: all 0.4s;
}
body{
  font-family: 'Noto Serif SC','Source Han Serif SC','Source Han Serif','source-han-serif-sc','PT Serif','SongTi SC','MicroSoft Yahei',Georgia,serif;
}